# 0. ETF Selection

We select the SPDR Gold Shares (GLD) ETF as the gold ETF. It is traded on Nasdaq, the currency is USD.

Similarly, we choose the Amundi CAC 40 UCITS ETF-C (C40.PA) as the equity ETF. It will track the CAC 40 index of France. It is traded on Paris Euronext, the currency is EUR.

The currency for Bitcoin is USD.

Data source: https://finance.yahoo.com/

# 1. Data Importing

In [32]:
import arch
import holidays
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from datetime import datetime
from statsmodels.tsa.stattools import adfuller, coint
%matplotlib inline

In [3]:
gold_df = pd.read_csv("data/SPDR Gold Shares (GLD) Jan - Dec 2020.csv")
equity_df = pd.read_csv("data/Amundi CAC 40 UCITS ETF-C (C40.PA) Jan 2020 - Dec 2020.csv")
bitcoin_df = pd.read_csv('data/Bitcoin USD (BTC-USD) Jan 2020 - Dec 2020.csv')

Convert the data into the datetime format and make it the index to query the dataframe easier.

In [4]:
def convert_df(df):
    df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")
    df.set_index("Date", inplace=True)   
    return df

gold_df = convert_df(gold_df)
equity_df = convert_df(equity_df)
bitcoin_df = convert_df(bitcoin_df)

Verify that the time range is correct.

In [5]:
gold_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,143.860001,144.210007,143.399994,143.949997,143.949997,7733800
2020-01-03,145.750000,146.320007,145.399994,145.860001,145.860001,12272800
2020-01-06,148.440002,148.479996,146.949997,147.389999,147.389999,14403300
2020-01-07,147.570007,148.139999,147.429993,147.970001,147.970001,7978500
2020-01-08,148.490005,148.610001,146.139999,146.860001,146.860001,22248500

In [6]:
gold_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-23,175.100006,176.210007,175.059998,175.649994,175.649994,6542800
2020-12-24,175.550003,176.369995,175.509995,176.350006,176.350006,3695400
2020-12-28,177.259995,177.910004,175.630005,175.710007,175.710007,7778700
2020-12-29,176.250000,176.970001,175.570007,176.350006,176.350006,5983700
2020-12-30,176.440002,177.720001,176.440002,177.699997,177.699997,5914000

In [7]:
equity_df.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-01-02  88.589996  89.239998  88.589996  89.239998  89.239998   124.0
2020-01-03  88.489998  88.889999  88.309998  88.769997  88.769997     0.0
2020-01-06  88.529999  88.599998  87.750000  88.559998  88.559998   563.0
2020-01-07  88.839996  89.260002  88.500000  88.500000  88.500000     0.0
2020-01-08  88.120003  89.300003  88.120003  89.139999  89.139999   212.0

In [8]:
equity_df.tail()

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-12-23  82.480003  83.330002  82.000000  83.250000  83.250000  68117.0
2020-12-24  83.419998  83.550003  82.930000  83.139999  83.139999  32892.0
2020-12-28  83.849998  84.290001  83.410004  84.160004  84.160004  20640.0
2020-12-29  84.440002  84.680000  84.320000  84.449997  84.449997  20668.0
2020-12-30  84.489998  84.699997  84.300003  84.339996  84.339996   3829.0

In [9]:
bitcoin_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,7194.892090,7254.330566,7174.944336,7200.174316,7200.174316,18565664996
2020-01-02,7202.551270,7212.155273,6935.270020,6985.470215,6985.470215,20802083465
2020-01-03,6984.428711,7413.715332,6914.996094,7344.884277,7344.884277,28111481031
2020-01-04,7345.375488,7427.385742,7309.514160,7410.656738,7410.656738,18444271274
2020-01-05,7410.451660,7544.497070,7400.535645,7411.317383,7411.317383,19725074094

In [10]:
bitcoin_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-27,26439.373047,28288.839844,25922.769531,26272.294922,26272.294922,66479895605
2020-12-28,26280.822266,27389.111328,26207.640625,27084.808594,27084.808594,49056742892
2020-12-29,27081.810547,27370.720703,25987.298828,27362.437500,27362.437500,45265946774
2020-12-30,27360.089844,28937.740234,27360.089844,28840.953125,28840.953125,51287442703
2020-12-31,28841.574219,29244.876953,28201.992188,29001.720703,29001.720703,46754964848

# 2. Data Processing

We use adjusted close prices to calculate the daily returns. Adjusted close prices are the prices that already take into account stock split and dividends, which reflex more accurate the change of the prices.

In [11]:
gold_df["Daily Return"] = gold_df["Adj Close"].pct_change(1)
gold_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2020-01-02,143.860001,144.210007,143.399994,143.949997,143.949997,7733800,NaN
2020-01-03,145.750000,146.320007,145.399994,145.860001,145.860001,12272800,0.013269
2020-01-06,148.440002,148.479996,146.949997,147.389999,147.389999,14403300,0.010489
2020-01-07,147.570007,148.139999,147.429993,147.970001,147.970001,7978500,0.003935
2020-01-08,148.490005,148.610001,146.139999,146.860001,146.860001,22248500,-0.007502

In [12]:
equity_df["Daily Return"] = equity_df["Adj Close"].pct_change(1)
equity_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2020-01-02,88.589996,89.239998,88.589996,89.239998,89.239998,124.0,NaN
2020-01-03,88.489998,88.889999,88.309998,88.769997,88.769997,0.0,-0.005267
2020-01-06,88.529999,88.599998,87.750000,88.559998,88.559998,563.0,-0.002366
2020-01-07,88.839996,89.260002,88.500000,88.500000,88.500000,0.0,-0.000677
2020-01-08,88.120003,89.300003,88.120003,89.139999,89.139999,212.0,0.007232

In [13]:
bitcoin_df["Daily Return"] = bitcoin_df["Adj Close"].pct_change(1)
bitcoin_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2020-01-01,7194.892090,7254.330566,7174.944336,7200.174316,7200.174316,18565664996,NaN
2020-01-02,7202.551270,7212.155273,6935.270020,6985.470215,6985.470215,20802083465,-0.029819
2020-01-03,6984.428711,7413.715332,6914.996094,7344.884277,7344.884277,28111481031,0.051452
2020-01-04,7345.375488,7427.385742,7309.514160,7410.656738,7410.656738,18444271274,0.008955
2020-01-05,7410.451660,7544.497070,7400.535645,7411.317383,7411.317383,19725074094,0.000089

# 3. Data Summaries

# 4. Graphing

# 5. Fitting a GARCH model

In [19]:
df_name = {0: "gold ETF", 1: "equity ETF", 2: "Bitcoin"}

In [16]:
def get_data(df, month_start, month_end, column):
    return df[(df.index >= f"2020-{month_start:02d}-01") & (df.index < f"2020-{month_end:02d}-01")][column]

In [17]:
def fit_garch(data):
    garch = arch.arch_model(data, vol='garch', p=2, o=0, q=1)
    garch_fitted = garch.fit()
    print(garch_fitted.summary())

In [21]:
for index, df in enumerate([gold_df, equity_df, bitcoin_df]):
    if index > 0:
        print("-" * 78)
        print("-" * 78)
        print("-" * 78)
    print(f"GARCH model for {df_name[index]} from April to December")
    data = get_data(df, 4, 12, "Daily Return")
    data = data.dropna()
    fit_garch(data)

GARCH model for gold ETF from April to December
Iteration:      1,   Func. Count:      7,   Neg. LLF: 1820130024.0982912
Iteration:      2,   Func. Count:     19,   Neg. LLF: 6093.20455255847
Iteration:      3,   Func. Count:     29,   Neg. LLF: 13501.594299731876
Iteration:      4,   Func. Count:     40,   Neg. LLF: 4625617.890484681
Iteration:      5,   Func. Count:     52,   Neg. LLF: 2388320.7874876587
Iteration:      6,   Func. Count:     64,   Neg. LLF: 1114916.7084541474
Iteration:      7,   Func. Count:     76,   Neg. LLF: 735240.567774263
Iteration:      8,   Func. Count:     89,   Neg. LLF: -113.64506652268167
Iteration:      9,   Func. Count:     98,   Neg. LLF: 90005337.44891205
Iteration:     10,   Func. Count:    110,   Neg. LLF: 477325.02081813774
Iteration:     11,   Func. Count:    122,   Neg. LLF: 13603290.499077898
Iteration:     12,   Func. Count:    135,   Neg. LLF: 610212.6510815731
Optimization terminated successfully    (Exit mode 0)
            Current function value: -523.3685927992055
            Iterations: 16
            Function evaluations: 143
            Gradient evaluations: 12
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:           Daily Return   R-squared:                      -0.002
Mean Model:             Constant Mean   Adj. R-squared:                 -0.002
Vol Model:                      GARCH   Log-Likelihood:                523.369
Distribution:                  Normal   AIC:                          -1036.74
Method:            Maximum Likelihood   BIC:                          -1021.09
                                        No. Observations:                  169
Date:                Mon, Jan 25 2021   Df Residuals:                      164
Time:                        14:41:54   Df Model:                            5
                                  Mean Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
mu         3.2593e-04  8.149e-04      0.400      0.689 [-1.271e-03,1.923e-03]
                              Volatility Model
============================================================================
                 coef    std err          t      P>|t|      95.0% Conf. Int.
----------------------------------------------------------------------------
omega      1.2958e-05  2.143e-11  6.046e+05      0.000 [1.296e-05,1.296e-05]
alpha[1]       0.0999      0.278      0.360      0.719     [ -0.445,  0.644]
alpha[2]       0.1011      0.224      0.452      0.652     [ -0.338,  0.540]
beta[1]        0.6992  9.167e-02      7.627  2.396e-14     [  0.520,  0.879]
============================================================================

Covariance estimator: robust
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
GARCH model for equity ETF from April to December
Iteration:      1,   Func. Count:      7,   Neg. LLF: 2.899801761494423e+16
Iteration:      2,   Func. Count:     19,   Neg. LLF: 21582021274.66453
Iteration:      3,   Func. Count:     28,   Neg. LLF: 4872464.793057694
Iteration:      4,   Func. Count:     40,   Neg. LLF: 338191091811.52167
Iteration:      5,   Func. Count:     51,   Neg. LLF: 663162.8019862154
Iteration:      6,   Func. Count:     63,   Neg. LLF: 42947426768639.414
Iteration:      7,   Func. Count:     74,   Neg. LLF: -457.0767174772651
Optimization terminated successfully    (Exit mode 0)
            Current function value: -457.07671791671896
            Iterations: 11
            Function evaluations: 74
            Gradient evaluations: 7
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:           Daily Return   R-squared:                      -0.001
Mean Model:             Constant Mean   Adj. R-squared:                 -0.001
Vol Model:                      GARCH   Log-Likelihood:                457.077
Distribution:                  Normal   AIC:                          -904.153
Method:            Maximum Likelihood   BIC:                          -888.445
                                        No. Observations:                  171
Date:                Mon, Jan 25 2021   Df Residuals:                      166
Time:                        14:41:54   Df Model:                            5
                                  Mean Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
mu         1.2598e-03  1.411e-03      0.893      0.372 [-1.505e-03,4.025e-03]
                              Volatility Model
============================================================================
                 coef    std err          t      P>|t|      95.0% Conf. Int.
----------------------------------------------------------------------------
omega      2.9058e-05  3.848e-06      7.552  4.271e-14 [2.152e-05,3.660e-05]
alpha[1]       0.0250      0.521  4.791e-02      0.962     [ -0.997,  1.047]
alpha[2]       0.0250      0.422  5.916e-02      0.953     [ -0.802,  0.852]
beta[1]        0.8491  6.370e-02     13.329  1.564e-40     [  0.724,  0.974]
============================================================================

Covariance estimator: robust
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
GARCH model for Bitcoin from April to December
Iteration:      1,   Func. Count:      7,   Neg. LLF: 478817.8360115765
Iteration:      2,   Func. Count:     18,   Neg. LLF: -522.6181509607939
Optimization terminated successfully    (Exit mode 0)
            Current function value: -522.6181534235342
            Iterations: 6
            Function evaluations: 18
            Gradient evaluations: 2
                     Constant Mean - GARCH Model Results
==============================================================================
Dep. Variable:           Daily Return   R-squared:                      -0.000
Mean Model:             Constant Mean   Adj. R-squared:                 -0.000
Vol Model:                      GARCH   Log-Likelihood:                522.618
Distribution:                  Normal   AIC:                          -1035.24
Method:            Maximum Likelihood   BIC:                          -1017.75
                                        No. Observations:                  244
Date:                Mon, Jan 25 2021   Df Residuals:                      239
Time:                        14:41:54   Df Model:                            5
                                  Mean Model
=============================================================================
                 coef    std err          t      P>|t|       95.0% Conf. Int.
-----------------------------------------------------------------------------
mu         4.7537e-03  1.061e-02      0.448      0.654 [-1.605e-02,2.556e-02]
                              Volatility Model
============================================================================
                 coef    std err          t      P>|t|      95.0% Conf. Int.
----------------------------------------------------------------------------
omega      1.6247e-05  2.141e-10  7.589e+04      0.000 [1.625e-05,1.625e-05]
alpha[1]   5.0000e-03      2.562  1.951e-03      0.998     [ -5.017,  5.027]
alpha[2]   5.0000e-03      2.417  2.068e-03      0.998     [ -4.733,  4.743]
beta[1]        0.9700      0.220      4.408  1.042e-05     [  0.539,  1.401]
============================================================================

Covariance estimator: robust

C:\Users\trinh\AppData\Roaming\Python\Python38\site-packages\arch\univariate\base.py:292: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0001274. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
C:\Users\trinh\AppData\Roaming\Python\Python38\site-packages\arch\univariate\base.py:292: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0002908. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
C:\Users\trinh\AppData\Roaming\Python\Python38\site-packages\arch\univariate\base.py:292: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0008112. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(

# 6. Assessing stationarity

Use Augmented Dickey-Fuller test

In [25]:
data = get_data(gold_df, 4, 12, "Daily Return")
X = data.values
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ADF Statistic: -12.841103
p-value: 0.000000
Critical Values:
	1%: -3.470
	5%: -2.879
	10%: -2.576

In [26]:
data = get_data(equity_df, 4, 12, "Daily Return")
X = data.values
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ADF Statistic: -12.611649
p-value: 0.000000
Critical Values:
	1%: -3.469
	5%: -2.879
	10%: -2.576

In [27]:
data = get_data(bitcoin_df, 4, 12, "Daily Return")
X = data.values
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ADF Statistic: -6.826285
p-value: 0.000000
Critical Values:
	1%: -3.458
	5%: -2.874
	10%: -2.573

# 7. Modelling Cointegration

In [40]:
data1 = get_data(gold_df, 4, 6, "Daily Return").values[:40]
data2 = get_data(equity_df, 4, 6, "Daily Return").values[:40]

In [41]:
data1.shape

(40,)

In [42]:
data2.shape

(40,)

In [43]:
coint(data1, data2)

(-6.638923633036665,
 6.038344804892153e-08,
 array([-4.19930068, -3.4972851 , -3.15498702]))