# 1. Data Importing

In [1]:
import pandas as pd

In [2]:
gold_df = pd.read_csv("data/SPDR_Gold_Shares_USD.csv")
equity_df = pd.read_csv("data/CAC40_EUR.csv")

In [3]:
gold_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-01,138.070007,140.190002,137.800003,139.630005,139.630005,12476200
1,2019-10-02,140.789993,141.880005,140.460007,141.259995,141.259995,11914300
2,2019-10-03,141.360001,143.250000,141.289993,141.899994,141.899994,12396100
3,2019-10-04,141.479996,142.309998,141.139999,141.899994,141.899994,9651000
4,2019-10-07,141.160004,141.770004,140.240005,140.690002,140.690002,6127200
5,2019-10-08,142.029999,142.289993,141.169998,141.919998,141.919998,10428900
6,2019-10-09,142.160004,142.580002,141.619995,142.050003,142.050003,6927700
7,2019-10-10,141.589996,141.660004,140.580002,140.809998,140.809998,9301700
8,2019-10-11,139.970001,140.190002,138.910004,140.029999,140.029999,11333400
9,2019-10-14,140.449997,140.820007,140.339996,140.589996,140.589996,4006700
10,2019-10-15,140.270004,140.300003,139.210007,139.610001,139.610001,9128300
11,2019-10-16,140.139999,140.529999,139.699997,140.410004,140.410004,10330300
12,2019-10-17,140.500000,141.119995,140.419998,140.610001,140.610001,6131000
13,2019-10-18,140.500000,140.710007,140.320007,140.460007,140.460007,6416100
14,2019-10-21,140.720001,140.759995,139.600006,139.789993,139.789993,8306200
15,2019-10-22,140.130005,140.300003,139.720001,140.199997,140.199997,3879700
16,2019-10-23,140.589996,141.000000,140.500000,140.529999,140.529999,4155300
17,2019-10-24,141.020004,141.740005,140.929993,141.529999,141.529999,6174800
18,2019-10-25,142.789993,142.830002,141.399994,141.860001,141.860001,6011500
19,2019-10-28,141.250000,141.250000,140.399994,140.639999,140.639999,5441600
20,2019-10-29,140.000000,140.630005,139.779999,140.250000,140.250000,3835100
21,2019-10-30,140.539993,141.039993,139.550003,141.020004,141.020004,6992900
22,2019-10-31,141.979996,142.690002,141.889999,142.429993,142.429993,7050900
23,2019-11-01,142.210007,142.899994,142.009995,142.559998,142.559998,8090000
24,2019-11-04,142.259995,142.449997,141.740005,142.149994,142.149994,4740300
25,2019-11-05,140.649994,140.889999,139.380005,139.850006,139.850006,11782300
26,2019-11-06,140.119995,140.789993,140.000000,140.449997,140.449997,6416500
27,2019-11-07,140.110001,140.199997,137.600006,138.270004,138.270004,15214200
28,2019-11-08,137.729996,138.330002,137.389999,137.389999,137.389999,10377400
29,2019-11-11,137.610001,137.789993,136.440002,137.059998,137.059998,7037300
30,2019-11-12,137.029999,137.589996,136.190002,137.429993,137.429993,6448600
31,2019-11-13,137.800003,138.220001,137.639999,137.979996,137.979996,8776000
32,2019-11-14,138.389999,138.940002,137.869995,138.559998,138.559998,5220500
33,2019-11-15,138.029999,138.419998,137.970001,138.210007,138.210007,10106700
34,2019-11-18,138.440002,138.850006,138.300003,138.619995,138.619995,5717900
35,2019-11-19,138.130005,138.970001,138.130005,138.690002,138.690002,4824400
36,2019-11-20,138.529999,139.000000,138.100006,138.759995,138.759995,6892100
37,2019-11-21,138.389999,138.559998,137.770004,138.000000,138.000000,4197200
38,2019-11-22,138.369995,138.460007,137.660004,137.740005,137.740005,3620300
39,2019-11-25,137.320007,137.619995,136.990005,137.080002,137.080002,6415800
40,2019-11-26,136.979996,137.800003,136.580002,137.740005,137.740005,4724400
41,2019-11-27,137.029999,137.210007,136.830002,137.009995,137.009995,4111000
42,2019-11-29,137.100006,138.130005,137.080002,137.860001,137.860001,4516400

In [4]:
gold_df["Date"] = pd.to_datetime(gold_df["Date"], format="%Y-%m-%d")
gold_df.set_index("Date", inplace=True)
equity_df["Date"] = pd.to_datetime(equity_df["Date"], format="%Y-%m-%d")
equity_df.set_index("Date", inplace=True)

In [5]:
gold_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-10-01,138.070007,140.190002,137.800003,139.630005,139.630005,12476200
2019-10-02,140.789993,141.880005,140.460007,141.259995,141.259995,11914300
2019-10-03,141.360001,143.250000,141.289993,141.899994,141.899994,12396100
2019-10-04,141.479996,142.309998,141.139999,141.899994,141.899994,9651000
2019-10-07,141.160004,141.770004,140.240005,140.690002,140.690002,6127200

In [6]:
gold_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-11-22,138.369995,138.460007,137.660004,137.740005,137.740005,3620300
2019-11-25,137.320007,137.619995,136.990005,137.080002,137.080002,6415800
2019-11-26,136.979996,137.800003,136.580002,137.740005,137.740005,4724400
2019-11-27,137.029999,137.210007,136.830002,137.009995,137.009995,4111000
2019-11-29,137.100006,138.130005,137.080002,137.860001,137.860001,4516400

In [7]:
equity_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-10-01,5696.200195,5704.930176,5594.930176,5597.629883,5597.629883,75964100
2019-10-02,5587.140137,5589.200195,5422.770020,5422.770020,5422.770020,104451600
2019-10-03,5432.009766,5472.620117,5393.490234,5438.770020,5438.770020,83768700
2019-10-04,5456.830078,5488.319824,5426.000000,5488.319824,5488.319824,76196900
2019-10-07,5476.770020,5524.189941,5461.589844,5521.609863,5521.609863,60954000

In [8]:
equity_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-11-25,5917.839844,5933.750000,5908.290039,5924.859863,5924.859863,62132600
2019-11-26,5927.410156,5941.509766,5909.930176,5929.620117,5929.620117,112044300
2019-11-27,5943.450195,5947.299805,5921.919922,5926.839844,5926.839844,68032200
2019-11-28,5909.950195,5919.129883,5900.209961,5912.720215,5912.720215,42729800
2019-11-29,5895.890137,5929.790039,5885.660156,5905.169922,5905.169922,61639300

# 2. Data Processing

Daily returns of the gold and equity ETFs

In [9]:
gold_df["Daily Return"] = gold_df["Adj Close"].pct_change(1)
gold_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-01,138.070007,140.190002,137.800003,139.630005,139.630005,12476200,NaN
2019-10-02,140.789993,141.880005,140.460007,141.259995,141.259995,11914300,0.011674
2019-10-03,141.360001,143.250000,141.289993,141.899994,141.899994,12396100,0.004531
2019-10-04,141.479996,142.309998,141.139999,141.899994,141.899994,9651000,0.000000
2019-10-07,141.160004,141.770004,140.240005,140.690002,140.690002,6127200,-0.008527

In [10]:
equity_df["Daily Return"] = equity_df["Adj Close"].pct_change(1)
equity_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-01,5696.200195,5704.930176,5594.930176,5597.629883,5597.629883,75964100,NaN
2019-10-02,5587.140137,5589.200195,5422.770020,5422.770020,5422.770020,104451600,-0.031238
2019-10-03,5432.009766,5472.620117,5393.490234,5438.770020,5438.770020,83768700,0.002951
2019-10-04,5456.830078,5488.319824,5426.000000,5488.319824,5488.319824,76196900,0.009110
2019-10-07,5476.770020,5524.189941,5461.589844,5521.609863,5521.609863,60954000,0.006066

# 3. Data Summaries

In [11]:
gold_df.resample('M').mean()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-31,140.847391,141.384349,140.303043,140.874782,140.874782,7.757257e+06,0.000921
2019-11-30,138.611500,139.056000,138.083502,138.570500,138.570500,6.961465e+06,-0.001611

In [13]:
equity_df.resample('M').mean()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-31,5622.946523,5651.765243,5588.810844,5623.614746,5623.614746,8.218598e+07,0.001109
2019-11-30,5885.093820,5907.245698,5869.594773,5892.759045,5892.759045,7.542388e+07,0.001443

In [12]:
gold_df.resample('M').std()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-31,0.972620,0.929309,0.950674,0.831229,0.831229,2.804327e+06,0.006173
2019-11-30,1.618235,1.588269,1.585444,1.562095,1.562095,2.994154e+06,0.006188

In [14]:
equity_df.resample('M').std()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-10-31,100.552379,92.759140,108.470913,104.252663,104.252663,1.435030e+07,0.009927
2019-11-30,49.971419,44.017495,45.179099,41.017847,41.017847,1.548799e+07,0.003763

# 6. Modelling Prices